h1 {
  margin-bottom: 30px;
}
input[type="text"] {
  width: 200px;
}
.error {
  color: red;
  font-size: 1.5em;
}
/* colorize found items */
.found {
  background-color: yellow;
}
/* some spacing to visually split rows */
.row {
  margin-bottom: 10px;
}
/* style items output */
section {
  background-color: lightgray;
  position: relative;
  padding: 10px;
}
section h3 {
  margin: 0px;
  margin-bottom: 30px;
  text-align: center;
}
section div {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: lightblue;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

section .number {
  position: absolute;
  left: 5px;
  top:5px;
  background-color: coral;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 15px;
}

/* this stiles already was here */
.loader {
  margin-left: 5px;
  font-size: 10px;
  float: left;
  border-top: 1.1em solid rgba(147, 147, 147, 0.2);
  border-right: 1.1em solid rgba(147, 147, 147, 0.2);
  border-bottom: 1.1em solid rgba(147, 147, 147, 0.2);
  border-left: 1.1em solid #676767;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
