ul.breadcrumbs {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumbs li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    /*content: "/\00a0";*/
    /*content: '&#9758;';*/
    content: '\261E';
}
ul.breadcrumbs li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumbs li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.categories a,
.categories a:visited,
.categories a:link {
  color: black;
  text-decoration: none;
}
.categories a:hover {
  font-weight: bold;
  text-decoration: underline;
}
