/* breadcrumbs styles */
ul.breadcrumbs {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumbs li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: '\261E';
}
ul.breadcrumbs li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumbs li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.categories a:hover {
  font-weight: bold;
  text-decoration: underline;
}
/*styles active item */
.active {
  background-color: lightgreen;
}
/* warning */
.warning {
  height: 50px;
  padding: 5px;
  line-height: 50px;
  text-align: center;
  box-sizing: content-box;
  background-color: yellow;
  border-radius: 10px;
  margin: 10px;
}
